:host {
  --table-border-color: #ccc;
  --table-header-background-color: #f0f0f0;
  --table-header-text-color: #333;
  --table-header-font-weight: bold;
  --table-header-text-align: left;
  --table-selected-cell-background-color: #f0f0f0;
  --table-resize-handle-background-color: #ccc;
}

table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;

  td,
  th {
    border: 1px solid var(--table-border-color);
    box-sizing: border-box;
    min-width: 1em;
    padding: 6px 8px;
    position: relative;
    vertical-align: top;

    > * {
      margin-bottom: 0;
    }
  }

  th {
    background-color: var(--table-header-background-color);
    color: var(--table-header-text-color);
    font-weight: var(--table-header-font-weight);
    text-align: var(--table-header-text-align);
  }

  .selectedCell:after {
    background: var(--table-selected-cell-background-color);
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }

  .column-resize-handle {
    background-color: var(--table-resize-handle-background-color);
    bottom: -2px;
    pointer-events: none;
    position: absolute;
    right: -2px;
    top: 0;
    width: 4px;
  }
}

.tableWrapper {
  margin: 1.5rem 0;
  overflow-x: auto;
}

.resize-cursor {
  cursor: col-resize;
}

.mt-rich-text-editor-script {
  &::before {
    content: attr(data-mt-rich-text-editor-script-title);
    display: block;
    position: absolute;
    top: -13px;
    left: 10px;
    background-color: #fff;
    padding: 0 5px;
  }

  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;

  &.mt-rich-text-editor-script--preview {
    padding: 10px 0 0 0;
  }
}
