.mt-rich-text-editor {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.mt-rich-text-editor:focus-within {
  outline: none;
  border-color: #0d6efd;
}

.mt-rich-text-editor-table-menu-container {
  position: relative;
}
