.mt-rich-text-editor-editor {
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mt-rich-text-editor-content-root,
.mt-rich-text-editor-content-root > .tiptap {
  height: calc(100% - 10px);
}

.mt-rich-text-editor-content-root > .tiptap {
  padding: 10px;
  outline: none;
}

.mt-rich-text-editor-content-root > .tiptap:after {
  content: "";
  display: block;
  height: 1px;
}

.mt-rich-text-editor-editor:focus-within {
  outline: none;
  border-color: #0d6efd;
}

.mt-rich-text-editor-content {
  flex-grow: 1;
  min-height: 0;
  overflow: auto;
}

.mt-rich-text-editor-toolbar {
  border-bottom: 1px solid #ccc;
}

.mt-rich-text-editor-statusbar {
  border-top: 1px solid #ccc;
}
