@import "quill/dist/quill.snow.css";

.ql-mt {
  background-color: #fff;
}

.ql-toolbar.ql-mt {
  background-image: svg-load("./assets/toolbar-border.svg");
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-radius: 4px 4px 0 0;

  & button {
    margin: 3px;
    padding: 5px 5px;
    height: 34px;
  }

  & select,
  & .ql-header.ql-picker {
    margin: 3px;
    padding: 5px 5px;
    height: 34px;
  }

  & .ql-formats {
    margin-right: 0;
  }

  & .ql-formats-source {
    position: absolute;
    top: 0;
    right: 0;
    border: none !important;
  }

  & .ql-formats:empty {
    flex-basis: 100%;
  }

  & .ql-formats:not(:last-child) {
    border-right: 1px solid #ccc;
    white-space: nowrap;
  }
}

.ql-container.ql-mt {
  border-radius: 0 0 4px 4px;

  & hr:focus,
  hr:active,
  hr.ql-selected,
  img.ql-selected {
    outline: 1px solid #ccc;
    box-shadow: 0 0 2px rgba(204, 204, 204, 0.5);
  }

  & .ql-editor {
    resize: vertical;
  }
}

.ql-toolbar.ql-mt-inline {
  position: absolute;
  z-index: 1000;
  display: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  
  &::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 30px;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #ccc transparent;
  }

  &::after {
    content: '';
    position: absolute; 
    top: -7px;
    left: 30px;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #fff transparent;
  }
  
  &.ql-mt-selected {
    display: block;
  }
  
  & + .ql-container {
    border-top: 1px solid #ccc !important;
    border-radius: 4px;
  }
}
