@import "quill/dist/quill.snow.css";

.ql-mt {
  background-color: #fff;
}

.ql-toolbar.ql-mt {
  background-image: svg-load("./assets/toolbar-border.svg");
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-radius: 4px 4px 0 0;
  #editor + #editor-content & {
    border-top-left-radius: 0;
    position: relative;
  }

  & button {
    margin: 3px 0;
    padding: 5px 5px;
    width: auto;
    height: 34px;
  }

  & select,
  & .ql-header.ql-picker,
  & .ql-block.ql-picker {
    margin: 3px;
    padding: 5px 5px;
    height: 34px;
  }

  & .ql-formats {
    margin: 0 0 0 -1px;
    padding: 0 2px;
  }

  & .ql-formats-mt_table {
    position: relative;

    & button {
      position: relative;
      padding-right: 20px;

      &::after {
        content: "";
        position: absolute;
        right: 8px;
        top: 50%;
        width: 6px;
        height: 6px;
        border-right: 2px solid #444;
        border-bottom: 2px solid #444;
        transform: translateY(-75%) rotate(45deg);
      }
    }

  }

  & .ql-formats-source {
    position: absolute;
    top: 0;
    right: 0;
    border: none !important;
  }

  & .ql-formats:empty {
    flex-basis: 100%;
  }

  & .ql-formats:not(:last-child) {
    border-left: 1px solid #ccc;
    white-space: nowrap;
  }

  .ql-color-picker {
    width: 38px;
    height: 40px;

    .ql-picker-label {
      padding: 6px 4px;
    }
  }

  .ql-picker.ql-block {
    width: 110px;

    & .ql-picker-item[data-value="h1"]:before {
      font-size: 2em;
      font-weight: bold;
    }

    & .ql-picker-item[data-value="h2"]:before {
      font-size: 1.5em;
      font-weight: bold;
    }

    & .ql-picker-item[data-value="h3"]:before {
      font-size: 1.17em;
      font-weight: bold;
    }

    & .ql-picker-item[data-value="h4"]:before,
    & .ql-picker-item[data-value="h5"]:before,
    & .ql-picker-item[data-value="h6"]:before {
      font-weight: bold;
    }

    & .ql-picker-label[data-value="h1"]:before,
    & .ql-picker-item[data-value="h1"]:before {
      content: "Heading 1";
    }

    & .ql-picker-item[data-value="h2"]:before,
    & .ql-picker-label[data-value="h2"]:before {
      content: "Heading 2";
    }

    & .ql-picker-item[data-value="h3"]:before,
    & .ql-picker-label[data-value="h3"]:before {
      content: "Heading 3";
    }

    & .ql-picker-item[data-value="h4"]:before,
    & .ql-picker-label[data-value="h4"]:before {
      content: "Heading 4";
    }

    & .ql-picker-item[data-value="h5"]:before,
    & .ql-picker-label[data-value="h5"]:before {
      content: "Heading 5";
    }

    & .ql-picker-item[data-value="h6"]:before,
    & .ql-picker-label[data-value="h6"]:before {
      content: "Heading 6";
    }

    & .ql-picker-item[data-value="pre"]:before,
    & .ql-picker-label[data-value="pre"]:before {
      content: "Formatted";
    }

    & .ql-picker-item[data-value="p"]:before,
    & .ql-picker-label[data-value="p"]:before {
      content: "Paragraph";
    }

    html[data-mt-rich-text-editor-language="ja"] & {
      width: 125px;

      & .ql-picker-label[data-value="h1"]:before,
      & .ql-picker-item[data-value="h1"]:before {
        content: "見出し1";
      }

      & .ql-picker-item[data-value="h2"]:before,
      & .ql-picker-label[data-value="h2"]:before {
        content: "見出し2";
      }

      & .ql-picker-item[data-value="h3"]:before,
      & .ql-picker-label[data-value="h3"]:before {
        content: "見出し3";
      }

      & .ql-picker-item[data-value="h4"]:before,
      & .ql-picker-label[data-value="h4"]:before {
        content: "見出し4";
      }

      & .ql-picker-item[data-value="h5"]:before,
      & .ql-picker-label[data-value="h5"]:before {
        content: "見出し5";
      }

      & .ql-picker-item[data-value="h6"]:before,
      & .ql-picker-label[data-value="h6"]:before {
        content: "見出し6";
      }

      & .ql-picker-item[data-value="pre"]:before,
      & .ql-picker-label[data-value="pre"]:before {
        content: "書式設定済み";
      }

      & .ql-picker-item[data-value="p"]:before,
      & .ql-picker-label[data-value="p"]:before {
        content: "段落";
      }
    }
  }
}

.ql-container.ql-mt {
  border-radius: 0 0 4px 4px;

  & hr:focus,
  hr:active,
  hr.ql-selected,
  img.ql-selected {
    outline: 1px solid #ccc;
    box-shadow: 0 0 2px rgba(204, 204, 204, 0.5);
  }

  & .ql-editor {
    resize: vertical;
  }
}

.ql-toolbar.ql-mt-inline {
  position: absolute;
  z-index: 1000;
  display: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 30px;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #ccc transparent;
  }

  &::after {
    content: "";
    position: absolute;
    top: -7px;
    left: 30px;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #fff transparent;
  }

  &.ql-mt-selected {
    display: block;
  }

  & + .ql-container {
    border-top: 1px solid #ccc !important;
    border-radius: 4px;
  }
}
